html,
body {
    width: 100%;
    height: 100%;
    box-sizing: 'border-box';
    padding: 0;
    margin: 0;
    font-size: '16px';
    background-color: '#FFFFFF';
}

.Home {
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  .title {
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: left;
    margin: 0 0 10px 5%;
  }
}
